<div class="container px-4 px-lg-5 mt-5">
                <div class="row-cols-2 row-cols-md-2 justify-content-center">
                    <h1>Are you a big fan of Manga</h1>
                    <p>Well, you know what? Here's the right place to find your favorit Manga!</p>
                    <a href="/pelanggan/daftarmanga" class="btn btn-primary">Check out for manga.</a>
                </div>
            </div>
      </div>